.current-page {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 10vh;
   height: 9vh;
   line-height: 2em;
   font-size: 1.8em;
   font-weight: bold;
   background: rgba(24, 22, 20, 0.747);
   color: rgba(252, 154, 42, 0.685);
   border-radius: 0.15em;
   border: none;
}
