@import './components/MoviesTypeButtons/index.css';
@import './components/NavArrow/index.css';
@import './components/CurrentPage/index.css';

@import './components/WeclomePage/index.css';
@import './components/MovieList/index.css';
@import './components/MovieBox/index.css';
@import './components/MovieDetail/index.css';


* {
   margin: 0;
}

body {
   background: #282b2a;
   overflow-y: scroll;
}

.wrapper {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

.header {
   width: 100%;
   background-color: rgb(0, 0, 0);
}

.content {
   flex-grow: 1;
}

.footer {
   background: rgb(0, 0, 0);
}
